html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.watch {position: absolute; top: 0; left: 0; padding: 0; width: 100%; margin: 0;}
#minutes{position: absolute; top: 23vw; left: 48%; padding: 0; margin: 0; color: black;  font-weight: bold;  font-size: 4vw; text-align: right;}

  